[submodule "erlang-dot"]
	path = erlang-dot
	url = git@github.com:angelhof/erlang-dot.git
[submodule "experiments/samza-experiment/samza-hello-samza"]
	path = experiments/samza-experiment/samza-hello-samza
	url = git@github.com:angelhof/samza-hello-samza.git
